body{
    text-align:center ;
}
img{
    width:150px ;
    border-style:solid ;
    border-radius:100% ;
}
#img1{
    height:300px ;
    border-width :20px ;
    border-color: aquamarine;
}
#img2{
    height:200px ;
    border-width:10px ;
    border-color:red ;
}